@font-face {
    font-family: "Noto Sans";
    src: url("../../../resources/NotoSans-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

* {
    font-family: "Noto Sans", sans-serif;
}
body {
    background-color: #252B32;
    text-align: center;
    color: #f0f6fc;
    margin-top: 200px;
}
h1 {
    font-size: 48px;
    margin: 20px 0;
}
p {
    font-size: 32px;
    margin: 20px 0;
}
