name: Release Build

on:
  release:
    types: [published, created]

jobs:
  build:
    name: Build (${{ matrix.variant }})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        variant: [ubuntu, debian, rocky8, rocky9]
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Run Docker Build
        shell: bash
        run: |
          chmod +x ./tools/make.sh
          ./tools/make.sh docker-build ${{ matrix.variant }}

      - name: Upload to Release
        uses: softprops/action-gh-release@v1
        with:
          files: build/installer/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
